<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Passages</h1>
    <nav>
      <ul>
        <li>Login</li>
      </ul>
    </nav>
  </body>
</html>
